USE [master]
GO
/****** Object:  Database [testdb50-02b]    Script Date: 28.09.2023 20:27:19 ******/
CREATE DATABASE [testdb50-02b]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testdb50-02b', FILENAME = N'C:\Users\10221261\testdb50-02b.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'testdb50-02b_log', FILENAME = N'C:\Users\10221261\testdb50-02b_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testdb50-02b].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testdb50-02b]
GO
/****** Object:  Table [dbo].[user_table]    Script Date: 28.09.2023 20:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nchar](10) NULL,
	[password] [nchar](10) NULL,
	[name] [nchar](100) NULL,
 CONSTRAINT [PK_user_table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user_table] ON 

INSERT [dbo].[user_table] ([id], [login], [password], [name]) VALUES (1, N'gg        ', N'123       ', N'ff                                                                                                  ')
INSERT [dbo].[user_table] ([id], [login], [password], [name]) VALUES (2, N'gg        ', N'123       ', N'eh                                                                                                  ')
SET IDENTITY_INSERT [dbo].[user_table] OFF
GO
USE [master]
GO
